.App {
  text-align: center;
}

/* Toolbar Styles */
.toolbar-surface {
  background-color: #f5f5f5;
  margin: 20px;
}

.legend-entry {
  width: 10px;
  height: 10px;
  background-color: #228b22;
  border-radius: 50%;
  display: inline-block;
}

.legend-entry-inactive {background-color: #5375e2}
.legend-entry-active {background-color: #f65868}
.legend-entry-recently-activated {background-color: #228b22}

.text-page {
  width: 60rem;
  margin: 0 auto;
}
